/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Universal Reset */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

/*Hiding the Image*/
header > a {
    margin: 0px;
    padding: 0px;
    display: none;
}

/* NAVBAR */
nav {
    background-color: #1c1c1c;
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
}

/* Left Text */
nav::before {
    content: "Heart of KY Kids";
    color: #f9f9f9;
    font-size: 4rem;
    font-family: 'Raleway';
    display: inline-block;
}

/* Hamburger Icon */
nav::after {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #f9f9f9;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Hiding Menu by Default */
nav ul {
    display: none;
    position: absolute;
    height: 30vh;
    top: 7vh;
    right: 0;
    background-color: #1c1c1c;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 0;
}

/* Menu Items */
nav ul li {
    width: 100%;
    height: 5vh;
    border-top: 1px solid #555; /* Light grey border */
    border-bottom: 1px solid #555;
}

nav ul li a {
    height: 100%;
    color: #f9f9f9;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vh;
}

/* Show the menu */
nav:hover ul {
    display: flex;
}

/* Hamburger Icon Animation */
nav:hover::after {
    transform: rotate(135deg);
    opacity: 25%;
}

/* Hide the left text when active */
nav:hover::before {
    content: "";
}

/* Title Box */
header {
    height: 340px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("imgs/HeartofKYWebLogo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Title Image */
.title {
    font-family: 'PT Sans', sans-serif;
    color: #f9f9f9;
    margin: 20px;
    padding: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
    font-weight: 400;
    z-index: 9;
}
